__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log
.DS_Store  # macOS-specific
*.idea/
data/ecosystem_cascade_results.csv
.DS_Store
data/ecosystem_cascade_results_no_shock.csv
data/ecosystem_cascade_results_with_shock.csv
data/shock_log_high.csv
data/shock_log_low.csv
data/shock_log_mid.csv
